@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;600&display=swap');

body {
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: black;
    width: 100vw;
    height: 100vh;
}

form {
    display: flex;
    flex-flow: column wrap;
    width: 300px;
    background-color: rgb(11, 71, 11);
    padding: 20px;
    color: white;
    border-radius: 10px;
}

label {
    margin: 8px 0;
    width: 100%;
    font-weight: bold;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: rgb(168, 255, 87);
    border: 1px solid rgb(3, 3, 3);
}

button {
    margin: 15px 0 0;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(89, 163, 4);
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(89, 163, 4);
}

button:active {
    background-color: rgb(89, 163, 4);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea {
    max-width: 94%;
    max-height: 50px;
    min-width: 94%;
    min-height: 50px;
    color: rgb(0, 0, 0);
    background-color: rgb(122, 255, 60);
    padding: 10px;
    border-radius: 5px;
    outline: none;
    resize: none;
}
